/* 
BLUE
#3757AE

ORANGE
#E26A0D
*/

.container {
  display: flex;
  justify-content: space-around;
  background: #3757AE;
  width: 640px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}