/* 
BLUE
#3757AE

ORANGE
#E26A0D
*/

.playercard {
  display: flex;
  width: 300px;
  background: #3757AE;
  border-radius: 10px;
  color: white;
  padding: 30px 15px;
  position: relative;
}

.player-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-info {
  text-align: left;
  margin-left: 25px;
}

p {
  margin: 2px;
}

.editplayer-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: #E26A0D;
  cursor: pointer;
}

.editstats-btn {
  margin-top: 10px;
  position: absolute;
  right: 35px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: #E26A0D;
  cursor: pointer;
}

.deleteplayer-btn {
  position: absolute;
  right: 65px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: #E26A0D;
  cursor: pointer;
}

.player-buttons {
  padding-top: 20px;
}